doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/headerCSS.css')
  body
    header
      div.imgLOC
        a(href='index.html')
          img(src='images/logIMG/img_0025.png' with='48' height='48')
      div.navLOC
        ul
          li
            a(href='#')
              p 网站介绍
          li
            a(href='#')
              p 特色说明
          li
            a(href='#')
              p 市场推广
      div.seachLOC
        form(action='' method='post')
          input(type='search' value='搜索')
      div.logLOC
        ul
          li
            a(href='#')
              p 已登录
    block content
