doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/headerCSS.css')
  body
    header
      div.imgLOC
        a(href='index.html')
          img(src='images/logIMG/img_0025.png' with='48' height='48')
      div.navLOC
        ul
          li
            a(href='#')
              p 网站介绍
          li
            a(href='#')
              p 特色说明
          li
            a(href='#')
              p 市场推广
      div.seachLOC
        form(action='' method='post')
          input(type='search' value='搜索')
      div.logLOC
        ul
          li
            a(href='#')
              p 已登录
    div.clear
    block content
    div.clear
    footer
      div.footcontext
        div.rownum
          h3 宠物之家
          p © 2018
        div.rownum
          h3 网站特色
          br
          ul
            li
              a(href="#") 宠物领养
            li
              a(href="#") 经验交流
            li
              a(href="#") 特性配对
            li
              a(href="#") 消息反馈
        div.rownum
          h3 社区交流
          br
          ul
            li
              a(href="#") 猫世界
            li
              a(href="#") 狗天地
            li
              a(href="#") 其他空间
        div.rownum
          h3 活动介绍
          br
          ul
            li
              a(href="#") 定期活动
            li
              a(href="#") 活动申请
            li
              a(href="#") 个人风采
            li
              a(href="#") 宠物与我
        div.rownum
          h3 资源分享
          br
          ul
            li
              a(href="#") 招领启示
            li
              a(href="#") 宠物走失
            li
              a(href="#") 最新宠物
        div.rownum
          h3 合作单位
          br
          ul
            li
              a(href="http://www.wuhan.gov.cn") 武汉市政厅
          ul
            li
              a(href="http://www.whxc.org.cn/") 武汉市宣传部
          ul
            li
              a(href="http://www.whwsjs.gov.cn") 武汉市卫生局
